header
  a(href="index.html")
    div.logo
      h1 Balanced Frame
      h2 Chiropractic & Wellness Center

  nav.site-nav
    ul
      li: a(href="services.html") Services
      li: a(href="practitioners.html") Practitioners
      li: a(href="questions.html") Questions
      li: a(href="location.html") Location
      li: a(href="#square-appointments") Book Now
