header.navbar.navbar-dark.bg-primary
  a(href="index.html").navbar-brand
    div
      h1 Balanced Frame
      h4 Chiropractic & Wellness Center

  nav
    ul.nav.navbar-nav
      li.nav-item: a.nav-link(href="what.html") Chiropractic
      li.nav-item: a.nav-link(href="when.html") Book Now
      li.nav-item: a.nav-link(href="who.html") Meet Dr. Ready
      li.nav-item: a.nav-link(href="where.html") Where We Are
