header
  a(href="index.html")
    h1.logo Balanced Frame Wellness

  nav.site-nav
    ul
      li: a(href="services.html") Services
      li: a(href="practitioners.html") Practitioners
      li: a(href="questions.html") Questions
      li: a(href="location.html") Location
