header
  a(href="index.html")
    div.logo
      h1 Balanced Frame
      h2 Chiropractic & Wellness Center

  nav.site-nav
    ul
      li: a(href="what.html") Chiropractic
      li: a(href="when.html") Book Now
      li: a(href="who.html") Meet Dr. Ready
      li: a(href="where.html") Where We Are
