header.navbar.navbar-light.bg-faded
  a(href="index.html").navbar-brand
    div
      h1.display-4 Balanced Frame
      h4 Chiropractic & Wellness Center

  nav.float-md-right
    ul.nav.navbar-nav
      li.nav-item: a.nav-link(href="what.html") Chiropractic
      li.nav-item: a.nav-link(href="when.html") Book Now
      li.nav-item: a.nav-link(href="who.html") Meet Dr. Ready
      li.nav-item: a.nav-link(href="where.html") Where We Are
