section.hero
  h1 Balanced Frame
  h2 Wellness and Chiropractic Center

section.info
  section.info1
    h1 Chiropractic
    p Copy about how great chiropractic adjustments are for all sorts of great things.

  section.info2
    h1 Massage
    p Copy about how great massage is and how well it complements chiropractic care.

  section.info3
    h1 Homeopathy
    p Copy about homeopathic medicine and how wonderful their teas taste, amirite.
