section.hero
  section.frame
    img(src="/assets/img/frame-mask-open-top.svg")
  section.hero-content
    h1 Balanced Frame
    h2 Chiropractic & Wellness Center
  section.frame
    img(src="/assets/img/frame-mask-close-bottom.svg")

section.boxes
  section.box-sm
    h1 Chiropractic
    p Copy about how great chiropractic adjustments are for all sorts of great things.

  section.box-sm
    h1 Massage
    p Copy about how great massage is and how well it complements chiropractic care.

  section.box-sm
    h1 Homeopathy
    p Copy about homeopathic medicine and how wonderful their teas taste, amirite.
