section.hero.edge-up
  h1 Balanced Frame
  h2 Chiropractic & Wellness Center

section.boxes
  section.box-sm
    h1 Chiropractic Care
    p If your body is a temple, your chiropractor is in charge of managing the foundation, frame, and wiring. Properly aligned bones are the basis of a healthy body, and chiropractic care helps keep your frame balanced.
    p.alt Bonus: Sweet release

  section.box-sm
    h1 Massage
    p Fatigued and tense muscles contribute to drawing our frame out of alignment. Regular massage is a relaxing, rejuvenating way to nourish our muscles and maintain the balance of our frame.
    p.alt Bonus: Total relaxation

  section.box-sm
    h1 Homeopathy
    p Homeopathic medicine is just like regular medicine except that instead of over-medicating symptoms, the goal is to strengthen your body's natural defenses so you don't have to deal with illness in the first place.
    p.alt Bonus: Delicious teas
