section.square-appointments
  //<img src="/assets/img/square-appointments.png">
  a(href="").btn Book an Appointment
  
section.info
  h1 The Office
  p The office is rad.
  
  h1 The Neighborhood
  p Some pretty sweet stuff, TBH.

//
    Where (are treatments performed)
      Office photos and general information
      Parking info
      Handicap accessible
      Meet the Neighbors
        SloHi
        Rise & Shine
        Happy Leaf
