section.hero.edge-up
  h1 Where We At

section.super
  img(src="/assets/img/office-front.jpg")

section.super
  h1 The Office
  p The office is rad. It's super comfy, and we have super delicious filtered water.
  p Hardwood floors and natural light lend warmth to the entire office
  p Wi-fi simultaneously connects us all to the world and gives scrambles our DNA lol

section.super
  h1 The Neighborhood
  p Some pretty sweet stuff, TBH.
  div Seriously. Check out this stuff:
  ul
    li Biscuits and biscuit sandwiches done up NC-style
    li A nice cafe that's attached to a bicycle shop (because Highlands)
    li The best kombucha in the world just down the street
    li A practically secret chocolate shop that you can't wait to show your friends

//
    Where (are treatments performed)
      Office photos and general information
      Parking info
      Handicap accessible
      Meet the Neighbors
        SloHi
        Rise & Shine
        Happy Leaf
