section.hero
  h1 Your Questions Answered

section.super
  h1 Pricing
  table
    tr
      th Service
      th Time
      th Rate
    tr.bg
      td New patient initial consultation, examination and adjustment
      td (tbd)
      td $100
    tr
      td Chiropractic adjustment with necessary muscle therapy
      td 60 min
      td $100
    tr.bg
      td Chiropractic adjustment with necessary muscle therapy
      td 30 min
      td $60
    tr
      td Chiropractic adjustment
      td 20 min
      td $30
    tr.bg
      td Manual muscle therapy or dry needling
      td 30 min
      td $50
    tr
      td Manual muscle therapy or dry needling
      td 10 min
      td $30

section.super
  h3 Is chiropractic care for me?
  p Yes.

  h3 How do I book?
  p: a(href="#book-now") Book Now

  h3 How do I pay?
  p The post-appointment paperwork is such a downer. Paying online when you book makes things easier for us both
  
  h3 What is your cancellation policy?
  p I respect your time and ask you to respect mine. Cancellations made more than 24 hours ahead of your appointment will be refunded in full.

//
    How (are treatments performed)
      Chiropractic Mecicine
        Adjustments (emphasize hips)
        Craniosacral
        Whatever
      Physical Therapy
        Dry needling
        Something else
      Maternity Care
        Accommodating the pregnant body
        Webster Technique
      Massage Therapy
      Naturopathic Medicine
