section.square-appointments
  //<img src="/assets/img/square-appointments.png">
  a(href="").btn Book an Appointment

section.info
  h3 Pricing
  h3 Is chiropractic care for me?
  p Yes.


//
    How (are treatments performed)
      Chiropractic Mecicine
        Adjustments (emphasize hips)
        Craniosacral
        Whatever
      Physical Therapy
        Dry needling
        Something else
      Maternity Care
        Accommodating the pregnant body
        Webster Technique
      Massage Therapy
      Naturopathic Medicine
