section.hero
  h1 What Services are offered?
  p Dr. Margaret has assembled a team of practitioners to provide you with complete wellness care.
  ul
    li: a(href="#chiropractic") Chiropractic Care
    li: a(href="#fdn") Functional Dry Needling 
    li: a(href="prenatal") Prenatal Chiropractic
    li: a(href="pediatric") Pediatric Chiropractic

section.super
  h2 Chiropractic Care
  p Chiropractic adjustments are performed by applying manipulation to a joint that has abnormal movement patterns or fails to function normally. The goal of a chiropractic adjustment is to correct structural alignment and improve the body's physical function.
  p All of the techniques listed below can complement your spinal adjustment, help relieve pain, and help improve overall health and function: 
  ul
    li Myofascial Release
    li Adhesion Release
    li Kinesiology Taping
    li Dry Needling
    li Exercise and Ergonomic Education
  p Dr. Ready can help patients suffering from acute and chronic sports injury, back pain, nerve pain, headaches, TMJ dysfunction, sinus issues and many other musculoskeletal complaints.

  h3 More About Functional Dry Needling (FDN)
  p A therapeutic treatment procedure that involves multiple advances of a filament needle into the muscle in the area of the body which produces pain and typically contains a trigger point. The intent is to cause the muscle to contract and then release, often referred to as a “twitch response,” improving overall flexibility of the muscle and decreasing symptoms. Dry needling is an effective treatment for acute and chronic pain, rehabilitation from injury, and even pain and injury prevention. This technique is unequaled in finding and eliminating neuromuscular dysfunction that leads to pain and functional deficits.

  h2 Prenatal Chiropractic
  p Chiropractic care is safe at any stage of pregnancy, and Dr. Ready has the experience and tools necessary to ensure safety and comfort for all patients. In addition to the aforementioned services, Dr. Ready practices the Webster technique.
  p The Webster technique is utilized to correct spinal, pelvic and sacral dysfunction. This technique allows for proper baby positioning, improved comfort during pregnancy, and reduced pain and labor time.
  p <strong>How Does it Work?</strong>
  p This technique works by relieving tension on the muscles and ligaments that surround the pelvis. When tension is released, the pelvis can maintain optimal function and reduce any torsion (twisting of the uterus) that may affect the baby. Torsion can prevent the baby from comfortably assuming the best possible position for birth.
  p <strong>What are the benefits?</strong>
  ul
    li Greater comfort
    li Proper baby positioning
    li Reduced labor time
    li Less painful delivery

  h2 Pediatric Chiropractic
  p The gentle approach to correcting misalignments in the spine that may affect your child’s overall health that Dr. Ready employs means it is safe for all ages. Even newborns can benefit from small corrections after birth and throughout their early years.
  p Spinal dysfunction can be present from in utero mal positioning, birth trauma, or the minor slips and falls that accompany childhood. Having your child regularly adjusted will allow them to function and grow with a healty spine free of any joint, muscular or neurologic dysfunction. 
  p Dr. Ready can help infants with a variety of needs including birth trauma, torticollis, pelvic dysfunction, constipation and colic. 
