h1.display-3 Book an Appointment

.row
  .col-xs-12.col-sm-6
    .card
      .card-header.h4.text-xs-center Pricing
      table.table
        thead.thead-default
          tr
            th Service
            th Rate
        tbody
          tr
            td New patient initial consultation, examination and adjustment
            td $100
          tr
            td Chiropractic adjustment with necessary muscle therapy
            td $100
          tr
            td Chiropractic adjustment with necessary muscle therapy
            td $60
          tr
            td Chiropractic adjustment
            td $30
          tr
            td Manual muscle therapy or dry needling
            td $50
          tr
            td Manual muscle therapy or dry needling
            td $30
  .col-xs-12.col-sm-6
    .card
      .card-header.h4.text-xs-center Packages
      table.table
        thead.thead-default
          tr
            th Service
            th Rate
        tbody
          tr
            td Five Visits
            td $300
          tr
            td Ten Visits
            td $500
          tr
            td Donation (not tax deductible lol)
            td $1,000

section.
p Square form goes here
