h1 Where We Are

p 4907 W. 29th Avenue Denver, CO 80212

p We are located in the Sloan’s Lake neighborhood of west Denver. There is plenty of street parking and nearby attractions to experience if you have time before or after appointments. Check out Sloan’s Lake and its 2.8 mile path, head over to Happy Leaf Kombucha with their kitchen using produce from their garden, have a cold brew at SloHi coffee shop, or head the other direction for a biscuit and brew at Rise & Shine. Our neighborhood is welcoming and easy to explore.

p Please arrive to your appointment 15 minutes early if it is your first time joining us.
