MEET THE DOCTOR

Dr. Margaret Ready graduated from Palmer College of Chiropractic West in San Jose, California in 2013. She was a member of the Palmer Sports Council while at the college where she cared for athletes. Dr. Ready received her Bachelor of Arts in Business Administration from Wayne State University in Detroit, Michigan and is originally from Oak Park, Michigan.

In 2011, Dr. Ready traveled to Fiji with chiropractic students from all over the country to introduce chiropractic to the residents of the capital city of Nadi. It was during this time that Dr. Ready realized her passion for prenatal and pediatric chiropractic.

Dr. Ready has realized her dual practice of caring for pregnant women and their families as well as athletes and other health-inspired individuals here at Balanced Frame.

Credentials
International Chiropractic Pediatric Association member
Colorado Chiropractic Association member
Webster Technique certified
Functional Dry Needling certified
