// Colors
$light-accent-color: #00ff66
$accent-color:       #009944
$dark-accent-color:  #006622
//$light-accent-color: lightskyblue
//$accent-color:       mediumslateblue
//$dark-accent-color:  darkslateblue

$selection-color:    $light-accent-color
$blank-bg-color:     gainsboro
$content-bg-color:   white
$headline-color:     $dark-accent-color
$text-color:         black
$alt-text-color:     dimgray
$link-color:         $accent-color
