<section class="square-appointments"><!--<img src="/assets/img/square-appointments.png">--><a href="" class="btn">Book an Appointment</a></section><!--Main page
  Header
  Schedule module & policy
  Footer
What (do we treat)
  Regular Adjustments
  Immunity Strengthening
  Injury Recovery
  Maternity Wellness
How (are treatments performed)
  Chiropractic Mecicine
    Adjustments (emphasize hips)
    Craniosacral
    Whatever
  Physical Therapy
    Dry needling
    Something else
  Maternity Care
    Accommodating the pregnant body
    Webster Technique
  Massage Therapy
  Naturopathic Medicine
Who (practices here)
  Dr. Margaret Ready - Chiropractor & Physical Therapist
  Massage Therapist
  Naturopath
  Reiki and shit
Where (are treatments performed)
  Office photos and general information
  Parking info
  Handicap accessible
  Meet the Neighbors
    SloHi
    Rise & Shine
    Happy Leaf

--><!--Existing Clients
  Get directions
  Contact the office
  Set up / confirm appointments
Potential Clients
  Treatment (What can Balanced Frame help with?)
    - Chronic pain
    - Tension
    - Headaches
    - Mobility limitations
    - Physical discomfort
  Additional Services
    - Massage
    - Naturopathic Medicine
  Special Considerations
    Pregnancy
      - Physical accommodations
      - Hip mechanics
    Athletes
      - Whatever
    Pediatric
      - Whatever
    Anything else
      - Handicap accessible building
      - Advanced adjustment table can accommodate nearly any body type
      - Contact for more information
  About
    Practitioners
      Dr. Margaret Ready
        - Brief personal bio (establish personality)
        - Education & Certifications
      Logan Kinney
        - Brief personal bio (establish personality)
        - Education & Certifications
    Office
      Individual rooms
      Open (rollout or whatever) area-->