//  2-modules/footer.sass
.home-wrap footer
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-items: flex-start
  background: $content-bg-color
  border-top: 3px solid $accent-color
  margin: 0
  padding: 20px

  section
    width: 50%
    flex-grow: 1
